.mapContent {
  height: 97vh;
  width: 100%;
}

.setHeight {
  height: 100%;
}

.btn-find {
  color: black;
  background-color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 3px;
  position: absolute;
  left: 5%;
  bottom: 3%;
  box-shadow: 1px 1px 1px 1px gray;
}
